main {
    padding: 2em;
}

.book-title {
    text-align: center;
}

/* Twitter logo */
.fa_custom {
    color: #0099CC
}

div.book-author {
    display: flex;
    gap: 0.5em;
    align-items: center;
    justify-content: center;
}

div.book-info {
    column-count: 2;
    align-items: ;
}

div>.book-price {
    text-align: center;
}