body {
    display: flex;
    flex-direction: column;
    max-width: 75rem margin: auto;
}

main {
    display: flex;
    flex-wrap: wrap;
}

nav,
header {
    order: -1;
}

nav {
    flex-basis: 100%;
    display: flex;
}

nav a {
    flex: 0%;
}

main>section>p {
    flex: 1;
}

section>a {
    width: 100%;
    display: inline-block;
}